body {
  background-image:url('/../images/white_wall_hash.png');
}

.banner {
  width: 100%;
  height: 140px;
  margin: 0 auto;
  background-image:url('/../images/header.png');
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  z-index: 1000;
}

.nameplate {
  background-color: rgba(0,0,0,0.6);
  height: 140px;
  width: 100%;
  margin: 0 auto;
}

.nameplate-text {
  position: relative;
  top: -8.7em;
  color: white;
}

.name {
  padding-top: 10px;
  font-size: 2.3em;
  font-weight: bold;
  text-align: center;
}

.description {
  font-size: 1em;
  text-align: center;

}

#bat-signal-div {
  width: 100%;
  position: absolute;
  text-align: center;
}

#bat { 
  padding: 2px;
  height: 40px; 
}

#bat:hover,
.pdf:hover {
  cursor: pointer;
}


.contact-bar {
  height: 50px;
  width: 100%;
}

.text-box {
  display: none;
  color: gray;
}

.pdf-bar {
  padding-top: 10px;
}

.icons {
  display: none;
  width: 220px;
  margin: 0px auto;
}

.icons a {
  text-decoration: none;
}

.icon-linkedin,
.icon-twitter,
.icon-envelope,
.icon-github,
.icon-home {
  color: black;
  padding: 10px 5px 0 5px;
}

.icon-linkedin:hover,
.icon-twitter:hover,
.icon-envelope:hover,
.icon-github:hover,
.icon-home:hover,
.icon-cloud-download:hover {
  color:gray;
}

#links {
  color: black;
}

#links:hover {
  color: gray;
}

/*RESUME*/

.resume {
  font-family: 'Open Sans', sans-serif;
  clear: both;
  font-size: 1em;
  padding: 60px;
  padding-top: 140px;
}

.mission,
.education,
.experience,
.skills,
.publications {
  border-top: solid gray 2px;
  padding-bottom: 8px;
}

.resume li {
  padding-bottom: 8px;
  list-style-type: square;
}

.org {
  font-weight: bold;
  margin-bottom: 0;
}

@media only screen and (max-width: 400px) {
  .resume {
    font-size: 1.2em;
    padding: 140px 20px 20px 20px;
  }

  .description {
  }

  .icons {
    width: 100%;
    font-size: .8em;
    text-align: center;
    display: block;
  }

  .pdf-bar {
    display:none;

  }
  .education {
    padding-left: 0;
  }
  .experience {
    border-left: none;
    padding-left: 0;
  }
}
