.container {
  background-image:url('/../images/white_wall_hash.png');
}

.banner {
  width: 100%;
  height: 140px;
  margin: 0 auto;
  background-image:url('/../images/header.png');
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  z-index: 1000;
}

.nameplate {
  background-color: rgba(0,0,0,0.5);
  height: 140px;
  width: 100%;
  margin: 0 auto;
  opacity: .99;
}

.nameplate-text {
  position: relative;
  top: -8.7em;
  color: white;
}

.name {
  padding-top: 10px;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

.description {
  font-size: 1em;
  text-align: center;

}

#bat-signal-div {
  width: 100%;
  position: absolute;
  text-align: center;
}

#bat { 
  padding: 2px;
  height: 40px; 
}

#bat:hover {
  height: 45px;
}

.contact-bar {
  height: 50px;
  width: 100%;
}

.icons {
  display: none;
  width: 220px;
  margin: 0px auto;
  padding-bottom: 10px;
}

.icon-linkedin,
.icon-twitter,
.icon-envelope,
.icon-github,
.icon-home {
  color: black;
  padding: 10px 5px 0 5px;
}

.icon-linkedin:hover,
.icon-twitter:hover,
.icon-envelope:hover,
.icon-github:hover,
.icon-home:hover {
  color:gray;
}

a {
  text-decoration: none;
}

/*RESUME*/

.resume {
  font-family: 'Open Sans', sans-serif;
  clear: both;
  font-size: 1em;
  padding: 20px;
  padding-top: 140px;
}

.education { 
  max-width: 600px;
  float: left;
}

.experience {
  max-width: 600px;
  float: left;
  border-left: solid black 2px;
  padding-left: 50px;
}

.publications {
  clear: both;
}

.resume li {
  padding-bottom: 8px;
  list-style-type: none;
}

#inspirely {
  text-decoration: underline;
  color: black;
}

#inspirely:hover {
  color: gray;

}

@media only screen and (max-width: 700px) {
  .resume {
    font-size: 1.2em;
  }

  .icons {
    width: 100%;
    font-size: .8em;
    text-align: center;
    display: block;
  }
  .education {
    padding-left: 0;
  }
  .experience {
    border-left: none;
    padding-left: 0;
  }
}

@media only screen and (max-width: 400px) {
  .education {
    padding-left: 0;
  }
  .experience {
    border-left: none;
    padding-left: 0;
  }
}


