

.banner {
  width: 290px;
  height: 180px;
  margin: 100px auto 0 auto;
  background-image:url('/../images/header.png');
  font-family: 'Open Sans', sans-serif;
  z-index: 1000;
}

.nameplate {
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.nameplate-text {
  position: relative;
  top: 8.5em;
  color: black;
}

.resume {
  display:none;
  color:white;
}

.name {
  padding-top: 10px;
  padding-bottom: 25px;
  font-size: 2.3em;
  font-weight: bold;
  text-align: center;
}

.description {
  color: white;
  font-size: 1.2em;
  text-align: center;

}

#bat-signal-div {
  width: 100%;
  position: relative;
  top: -4.7em;
  text-align: center;
}

#bat { 
  padding: 2px;
  height: 40px; 
}

.pdf:hover,
.resume:hover {
  cursor: pointer;
}


.contact-bar {
  height: 50px;
  width: 100%;
}

.text-box {
  display: none;
  color: gray;
}

.pdf-bar {
  padding-top: 10px;
}

.icons {
  display: none;
  width: 220px;
  margin: 0px auto;
}

.icons a {
  text-decoration: none;
}

.icon-linkedin,
.icon-twitter,
.icon-envelope,
.icon-github,
.icon-home {
  color: black;
  padding: 10px 5px 0 5px;
}

.icon-cloud-download {
  color: white;
}

.icon-linkedin:hover,
.icon-twitter:hover,
.icon-envelope:hover,
.icon-github:hover,
.icon-home:hover {
  color:#656565;
}

#links {
  color: black;
}

#links:hover {
  color: gray;
}




@media only screen and (max-width: 400px) {

  .icons, .pdf-bar {
    width: 100%;
    font-size: .8em;
    text-align: center;
    display: block;
  }

  .pdf-bar {
    display:none;

  }
}
