<div class='container'>
  <div class='banner'>
    <div class='nameplate'></div>
    <div class='nameplate-text'>
      <div class="name">Brooks Mason</div>
      <div class= "description">Software Developer</div>
      <div id = 'bat-signal-div'>
        <img id='bat' src="/images/batman-signal-image.png">
      </div>
    </div>
  </div>
  <div class='resume'>
    <div class='contact-bar'>
      <div class='pdf-bar'>
        <i class="icon-cloud-download icon-2x pdf"></i><span class='text-box'> PDF Formal Resume</span>
      </div>
      <div class='icons'>
        <a target='_blank' href="mailto:brooksmason@gmail.com"><i class="icon-envelope icon-2x awesome"></i></a>
        <a target='_blank' href="https://github.com/brooks"><i class="icon-github icon-2x awesome"></i></a>
        <a href="http://www.brooksmason.com"><i class="icon-home icon-2x awesome"></i></a>
        <a target='_blank' href="http://www.linkedin.com/pub/brooks-mason/2b/825/834"><i class="icon-linkedin icon-2x awesome"></i></a>
        <a target='_blank' href="https://twitter.com/broppler"><i class="icon-twitter icon-2x awesome"></i></a>
      </div>
    </div>
    <div class='mission'>
    </div>
  </div>
</div>




