<div class='container'>
  <div class='banner'>
    <div class='nameplate'></div>
    <div class='nameplate-text'>
      <div class="name">Brooks Mason</div>
      <div class= "description">Full Stack Web Developer</div>
      <div id = 'bat-signal-div'>
        <img id='bat' src="/images/batman-signal-image.gif">
      </div>
    </div>
  </div>
  <div class='resume'>
    <div class='contact-bar'>
      <div class='icons'>
        <a href="mailto:brooksmason@gmail.com"><i class="icon-envelope icon-2x awesome"></i></a>
        <a target='_blank' href="http://www.broppler.com"><i class="icon-home icon-2x awesome"></i></a>
        <a target='_blank' href="https://github.com/broppler"><i class="icon-github icon-2x awesome"></i></a>
        <a target='_blank' href="http://www.linkedin.com/pub/brooks-mason/2b/825/834"><i class="icon-linkedin icon-2x awesome"></i></a>
        <a target='_blank' href="https://twitter.com/broppler"><i class="icon-twitter icon-2x awesome"></i></a>
      </div>
    </div>
    <div class='abstract'>
    <h2>Abstract</h2>
      <p>2013.04.02</p>
      <p>I spent the past year learning how to code in order to continue my career in environmental science with a modern toolset. I know Ruby on Rails, JavaScript, jQuery, RSpec, HTML5, advanced CSS, and responsive design techniques. I received a masters degree in atmospheric science in 2008 and have since worked as a research scientist, a treetop adventure course builder, an environmental certifier, and a sustainability consultant. On the side, I am a passionate and experienced rock climber, an amateur naturalist, a coffee enthusiast, and dog lover. I am actively searching for a home at a small company that is pursuing something environmentally progressive and innovative.</p> 
      <p>I look forward to meeting you. Tap the bat signal for contact information</p>
        
    </div>

    <div class='education'>
      <h2>Education</h2>    
        <h4>DevBootcamp, 2013</h4>
          <ul>
            <li>San Francisco, CA</li>
            <li>Ruby on Rails, Sinatra, TDD/RSpec</li>
            <li>JavaScript, jQuery, HTML5, CSS3</li>
          </ul>
        <h4>Desert Research Institute, 2008</h4>
          <ul>
            <li>Reno, NV</li>
            <li>MS Atmospheric Science</li>
          </ul>
        <h4>The Colorado College, 2004</h4>
          <ul>
            <li>Colorado Springs, CO</li>
            <li>BA Environmental Science</li>
            <li>Minor Ecological Design</li>
            <li>Alpha Lambda Delta Honor Society</li>
            <li>Recipient of Ritt Kellogg Grant to backpack the 3100 mile Continental Divide Trail</li>
          </ul>
        <h4>School for International Training, 2002</h4>
          <ul>
            <li>Bel&#233m, Brazil</li>
            <li>Thesis: Micro-scale Wind Energy in Coastal Par&#225 State</li>
          </ul>
    </div>

    <div class='experience'>
      <h2>Experience</h2>
        <h4>Environmental Consultant</h4>
          <ul>
            <li>Oakland, CA</li>
            <li>2012 - Present</li>
          </ul>
        <h4>Technical Associate</h4>
          <ul>
            <li>SCS Global Services</li>
            <li>Emeryville, CA</li>
            <li>2011 - 2012</li>
          </ul>
        <h4>Arial Builder</h4>
          <ul>
            <li>TreeGO</li>
            <li>Montreal, QC</li>
            <li>2009 - 2010</li>
          </ul>
        <h4>Professional Scientist</h4>
          <ul>
            <li>Institute of Arctic and Alpine Research</li>
            <li>Boulder, CO</li>
            <li>2008-2009</li>
          </ul>
        <h4>Graduate Research Assistant</h4>
          <ul>
            <li>Desert Research Institute</li>
            <li>Reno, NV</li>
            <li>2006-2008</li>
          </ul>
    </div>

    <div class='publications'>
      <h2>Publications</h2>

        <p><a target='_blank' href="http://inspirely.co" id='inspirely'>Inspirely</a> - Final Project @ DevBootcamp</p>

        <p>B. Mason, Fujita, Campbell, and Zielinska, “Evaluation of Passive Samplers for Assessment of Community Exposure to Toxic Air Contaminants and Related Pollutants”, Environmental Science and Technology, VOL. 45, 2011</p> 

        <p>D. Lowenthal, Zielinska, Mason, et al, “Aerosol characterization studies at Great Smoky Mountains National Park”, Journal of Geophysical Research, VOL. 114, April 2009</p>

        <p>B. Mason, Zielinska, Campbell, and Fujita, “Passive Air Sampling for Organic and Inorganic Pollutants under Environmental Stresses”, Presented at Air and Waste Management Association Conference, 2006</p>
    </div>
  </div>
</div>




