<div class='container'>
  <div class='banner'>
    <div class='nameplate'></div>
    <div class='nameplate-text'>
      <div class="name">Brooks Mason</div>
      <div class= "description">Ruby on Rails Developer</div>
      <div id = 'bat-signal-div'>
        <img id='bat' src="/images/batman-signal-image.png">
      </div>
    </div>
  </div>
  <div class='resume'>
    <div class='contact-bar'>
      <div class='pdf-bar'>
        <i class="icon-cloud-download icon-2x pdf"></i><span class='text-box'> PDF Formal Resume</span>
      </div>
      <div class='icons'>
        <a target='_blank' href="mailto:brooksmason@gmail.com"><i class="icon-envelope icon-2x awesome"></i></a>
        <a target='_blank' href="http://www.broppler.com"><i class="icon-home icon-2x awesome"></i></a>
        <a target='_blank' href="https://github.com/broppler"><i class="icon-github icon-2x awesome"></i></a>
        <a target='_blank' href="http://www.linkedin.com/pub/brooks-mason/2b/825/834"><i class="icon-linkedin icon-2x awesome"></i></a>
        <a target='_blank' href="https://twitter.com/broppler"><i class="icon-twitter icon-2x awesome"></i></a>
      </div>
    </div>
    <div class='mission'>
    <h2>Mission</h2>
      <p>2013.04.02</p>
      <p>Last May, I set off on a journey to learn how to code.  It began with basic tutorials in Ruby and Python and culminated in 9 weeks of intensive study at DevBootcamp in San Francisco. One year has now passed and I have become proficient in Ruby on Rails, Sinatra, JavaScript, jQuery, Python, RSpec, HTML5, advanced CSS, and responsive design techniques. Three friends and I built a photo sharing application called <a target='_blank' href="http://inspirely.co" id="inspirely">inspirely</a> during our last week at DevBootcamp.</p> 
      <p>Prior to programming, I worked in environmental science and sustainability.  I received a BA in environmental science in 2004 and an MS in atmospheric science in 2008. Since then, I have worked as a research scientist, a treetop adventure course builder, an environmental certifier, and a sustainability consultant. On the side, I am a passionate rock climber, an amateur naturalist, a coffee enthusiast, and dog lover. I am actively searching for home at an organization where I can grow as a software developer and contribute to innovative products.</p> 
      <p>I look forward to hearing from you. Toggle the bat switch for contact information.</p>
    </div>
    <div class='education'>
      <h2>Education</h2>    
        <h4 class='org'>DevBootcamp, 2013</h4>
        <p>San Francisco, CA</p>
          <ul>
            <li>Web Development and Software Engineering</li>
          </ul>
        <h4>University of California, Berkeley, 2010</h4>
        <p>Berkeley, CA</p>
          <ul>
            <li>Environmental Engineering and Fluid Mechanics</li>
          </ul>
        <h4 class='org'>Desert Research Institute, 2008</h4>
        <p>Reno, NV</p>
          <ul>
            <li>MS Atmospheric Science</li>
          </ul>
        <h4 class='org'>The Colorado College, 2004</h4>
        <p>Colorado Springs, CO</p>
          <ul>
            <li>BA Environmental Science</li>
            <li>Minor Ecological Design</li>
            <li>Alpha Lambda Delta Honor Society</li>
            <li>Recipient of Ritt Kellogg Grant to backpack the 3100 mile Continental Divide Trail</li>
          </ul>
        <h4 class='org'>School for International Training, 2002</h4>
        <p>Bel&#233m, Brazil</p>
          <ul>
            <li>Amazonian Ecology</li>
            <li>Natural Resource Management</li>
            <li>Thesis: Micro-scale Wind Energy in Coastal Par&#225 State</li>
          </ul>
    </div>
    <div class='experience'>
      <h2>Experience</h2>
        <h4>Environmental Consultant, Present</h4>
        <p>San Francisco, CA</p>
          <ul>
            <li>I consult for entities seeking and offering green product certifications, and offer contract auditing services for certification bodies.</li>
            <li>I am an ISO 9001 lead auditor specializing in manufacturing quality systems, indoor air quality emissions, sustainability, and social responsibility. </li>
          </ul>
        <h4>SCS Global Services, 2011-12</h4>
        <p>Emeryville, CA</p>
        <p>Technical Associate</p>
          <ul>
            <li>Lead auditor for indoor air quality and sustainability certifications</li>
            <li>Conducted international and domestic audits of manufacturing facilities related to sustainability measures, quality management systems, and indoor air quality emission sources</li>
            <li>Modeled indoor air quality emission factors from various materials and products</li>
            <li>Trained staff on material emissions and air quality modeling</li>
          </ul>
        <h4>Institute of Arctic and Alpine Research, 2009-10</h4>
        <p>Boulder, CO</p>
        <p>Professional Research Assistant</p>
          <ul>
            <li>Conducted research on collection methods for biogenic sesquiterpene emissions</li>
            <li>Collaborated on a joint INSTARR - NOAA Global Monitoring Division program to analyze trace concentrations of atmospheric pollutants at remote international sites</li>
            <li>Analyzed samples and maintained atmospheric measurement instrumentation</li>
          </ul>
        <h4>Desert Research Institute, 2006-08</h4>
        <p>Reno, NV</p>
        <p>Graduate Research Assistant</p>
          <ul>
            <li>Research team member for the CARB sponsored Harbor Communities Monitoring Study. Responsibilities included planning, field work, laboratory analysis, data analysis and communication of research results</li>
            <li>Conducted field operations for aerosol characterization research at Great Smoky Mountains National Park, Tennessee</li>
            <li>Analyzed chemical samples and data for the Organic Analytical Laboratory</li>
          </ul>
    </div>
    <div class='skills'>
      <h2>Skills</h2>
        <h4>Code</h4>
          <p>Ruby, Ruby on Rails, Python, JavaScript, SQL, jQuery, HTML5, Advanced CSS, RSpec</p>
        <h4>Software</h4>
          <p>Word, Excel, PowerPoint, MATLAB, ArcView 3, ArcGIS 9</p>
        <h4>Instrumentation</h4>
          <p>GC/MS/FID/PID, HPLC, passive and active adsorbent collection systems, NOx, NO<sub>X</sub>/O<sub>3</sub>/SO<sub>2</sub>/VOC continuous analyzers, aerosol samplers</p>
    </div>
    <div class='publications'>
      <h2>Publications</h2>

        <p>B. Mason, Fujita, Campbell, and Zielinska, “Evaluation of Passive Samplers for Assessment of Community Exposure to Toxic Air Contaminants and Related Pollutants”, Environmental Science and Technology, VOL. 45, 2011</p> 

        <p>D. Lowenthal, Zielinska, Mason, et al, “Aerosol characterization studies at Great Smoky Mountains National Park”, Journal of Geophysical Research, VOL. 114, April 2009</p>

        <p>Fujita, E.M., D. Campbell, B. Mason and B. Zielinska, Harbor Community Monitoring Study - Saturation Monitoring. Final report submitted to State of California Air Resources Board, Research Division, Sacramento, CA, December 9, 2008.</p>

        <p>B. Mason, Zielinska, Campbell, and Fujita, “Passive Air Sampling for Organic and Inorganic Pollutants under Environmental Stressors”, Presented at Air and Waste Management Association Conference, 2006</p>
    </div>
  </div>
</div>




