<div class='banner'>
  <div class="name">Brooks Mason</div>
  <div class= "content">Full Stack Developer ~ Available for Hire</div>
</div>
<div class='contact-bar'>
  <img id='contact' src="/images/contact.jpg">
  <div class='icons'>
    <div>
      <a href="mailto:brooksmason@gmail.com"><i class="icon-envelope icon-2x"></i></a>
    </div>
    <div>
      <a href="https://github.com/broppler"><i class="icon-github icon-2x"></i></a>
    </div>
    <div>
      <a href="http://www.linkedin.com/pub/brooks-mason/2b/825/834"><i class="icon-linkedin icon-2x"></i></a>
    </div>
     <div>
      <a href="https://twitter.com/broppler"><i class="icon-twitter icon-2x"></i></a>
    </div>
  </div>
</div>

<h2>Abstract</h2>
<p>I learned how to program in order </p>

