<div class='banner-backer'>
  <div class= 'mobile-icons'>
    <a href="mailto:brooksmason@gmail.com"><i class="icon-envelope icon-2x"></i></a>
    <a target='_blank' href="http://www.broppler.com"><i class="icon-home icon-2x"></i></a>
    <a target='_blank' href="https://github.com/broppler"><i class="icon-github icon-2x"></i></a>
    <a target='_blank' href="http://www.linkedin.com/pub/brooks-mason/2b/825/834"><i class="icon-linkedin icon-2x"></i></a>
    <a target='_blank' href="https://twitter.com/broppler"><i class="icon-twitter icon-2x"></i></a> 
  </div>
</div>
<div class='banner'>
  <div class="name">Brooks Mason</div>
  <div class= "description">Full Stack Developer ~ Available for Hire</div>
  <div id = 'bat-signal-div'>
    <img id='bat' src="/images/batman-signal-image.gif">
  </div>
</div>
<div class='resume'>
  <div class='contact-bar'>
    <div class='icons'>
      <a href="mailto:brooksmason@gmail.com"><i class="icon-envelope icon-2x awesome"></i></a>
      <a target='_blank' href="http://www.broppler.com"><i class="icon-home icon-2x awesome"></i></a>
      <a target='_blank' href="https://github.com/broppler"><i class="icon-github icon-2x awesome"></i></a>
      <a target='_blank' href="http://www.linkedin.com/pub/brooks-mason/2b/825/834"><i class="icon-linkedin icon-2x awesome"></i></a>
      <a target='_blank' href="https://twitter.com/broppler"><i class="icon-twitter icon-2x awesome"></i></a>
    </div>
  </div>

  <div class='abstract'>
  <h2>Abstract</h2>
      <p>I came to DevBootcamp to learn tools to solve collective action problems. I have a masters in atmospheric science and previously worked in pure research and environmental consulting. I am actively searching for a home at a company that is pursuing something progressive and disruptive. I like working with intelligent, motivated colleagues who love to laugh.  Looking forward to meeting you.</p>
  </div>
  <dt class='education'>Education</dt>

    <dd>
      <h3>DevBootcamp, San Francisco, CA, 2013</h3>
        <ul>
          <li>Ruby on Rails, Javascript, JQuery, Sinatra</li>
          <li>Final Project: <a href="http://www.inspirely.co">inspirely.co</a></li>
        </ul>
      <h3>Desert Research Institute, Reno, NV, 2008</h3>
        <ul>
          <li>MS Atmospheric Science</li>
          <li></li>
        </ul>
      <h3>The Colorado College, Colorado Springs, CO, 2004</h3>
        <ul>
          <li>BA Environmental Science, Ecological Design</li>
        </ul>
    </dd>

  <dt class='experience'>Experience</dt>

    <dd>
      <h3>Environmental Consultant, Oakland, CA, 2012-Current</h3>
        <p></p>
      <h3>Scientific Certification Systems, Emeryville, CA, 2010-2012</h3>
        <p>Lead auditor for level, Indoor Air Quality and Green Squared certification programs</p>  
      <h3>Institute of Arctic and Alpine Research, Boulder, CO, 2008-2009</h3>
        <p></p>
      <h3>Desert Research Institute, Reno, NV, 2006-2008</h3>
        <p>Member of the DRI research team for the Harbor Communities Monitoring Study Duties involved planning, field work, laboratory analysis, data analysis, and communication of research results</p>
    </dd>


  <dt>Publications</dt>

  <dd>
    <ul>
      <li>B. Mason, Fujita, Campbell, and Zielinska, “Evaluation of Passive Samplers for Assessment of Community Exposure to Toxic Air Contaminants and Related Pollutants”, Environmental Science and Technology, VOL. 45, 2011</li> 

      <li>D. Lowenthal, Zielinska, Mason, et al, “Aerosol characterization studies at Great Smoky Mountains National Park, summer 2006”, Journal of Geophysical Research, VOL. 114, April 2009</li>

      <li>B. Mason, Zielinska, Campbell, and Fujita, “Passive Air Sampling for Organic and Inorganic Pollutants under Environmental Stresses”, Presented at Air and Waste Management Association Conference, 2006</li>
    </ul>
  </dd>
</div>

<div class='hello'>
Scientific Certification Systems, Emeryville, CA                                                                 Jan 2011-Current
Technical Associate, ECS
• Lead auditor for level, Indoor Air Quality and Green Squared certification programs

Institute of Arctic and Alpine Research, Boulder, CO                   2008-2009
Professional Research Assistant
• Managed and conducted research projects aimed at quantifying
volatile emissions from trees and global background air pollution
• Modified and maintained sample collection and analytical instrumentation
• Acted as hazardous waste disposal and radiation safety coordinator

Desert Research Institute, Reno, NV                                                                                              2006-2008
Graduate Research Assistant
• Member of the DRI research team for the Harbor Communities Monitoring Study
Duties involved planning, field work, laboratory analysis, data analysis, 
and communication of research results
• Conducted field operations for aerosol characterization in
Great Smoky Mountains National Park, Tennessee
• Analyzed chemical samples and data for the 
Organic Analytical Laboratory at DRI

GRID Alternatives, Oakland, CA                                 Current
Volunteer Team Leader and Installer
• Aided in the installation of solar arrays for low-income residents of California

EDUCATION


PUBLICATIONS
University of Nevada, Reno, NV                                                                                              2008
M.S. in Atmospheric Science

The Colorado College, Colorado Springs, CO                                                                                          2004
B.A. in Environmental Science; Minor in Ecological Building Design                                                               
Alpha Lambda Delta Honor Society                                                                            
Kellogg grant recipient to backpack the 3100 mile Continental Divide Trail                                               2003 

School for International Training, Belém, Brazil                                                                                     2002
“Amazonian Ecology and Natural Resource Management”
Thesis Project: “Feasibility of Micro-scale Wind Energy Generation 
for Off-Grid Communities: Design and Construction from Local Sources”
</div>




